.leftPane {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
}
.gridBox {
  width: 20px;
  height: 20px;
  background-color: #f2f2f2f2;
  outline: 1px dashed black;
}

.b0 {
  background-color: #f2f2f2f2;
}
.b1 {
  background-color: green;
}
.b2 {
  background-color: yellow;
}
.b3 {
  background-color: indigo;
}
.b4 {
  background-color: orange;
}
.b5 {
  background-color: violet;
}
.b6 {
  background-color: red;
}
.b7 {
  background-color: blue;
}